.oui-separator
    flex: 0 0 auto
    background: var(--oui-border)

.oui-separator[data-orientation="horizontal"]
    width: 100%
    height: 1px

.oui-separator[data-orientation="vertical"]
    width: 1px
    align-self: stretch
